{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Blog home</h1>
    </div>
    Blog homepage
{% endblock %}

{% block sidebar %}
    <div class="page-header">
        <h1>Archive</h1>
    </div>
    <h3>December</h3>
    <a href="#">Blog 1</a><br>
    <a href="#">Blog 2</a>
{% endblock %}